page-landing {

}

.landing-content {
  background: url('../assets/img/4316.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
}
